.wrapper
  = render 'shered/chat-side'

  .chat-main
    .chat-main__header
      .chat-main__header-group
        .chat-main__header-group-name グループ名
        .chat-main__header-group-edit-btm edit
      %ul.chat-main__header-members
        MEMBER :
        %li.member マック松村
        %li.member ボンジュール上田
    .chat-main__body
      .chat-main__body-message-list
        .chat-main__message
          .chat-main__message-name
            マック松村
          .chat-main__message-time
            2018/12/19/19:14
          .chat-main__message-body
            お腹すいた。。。かな？

        .chat-main__message
          .chat-main__message-name
            ボンジュール上田
          .chat-main__message-time
            2018/12/19/20:14
          .chat-main__message-body
            逆にお腹いっぱい

    .chat-main__footer
      %form.new-message
        %input.text-new{placeholder: "type a message"}
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input.hidden{type: "file", id: "upload-icon"}
        %input.submit{type: "submit", value: "Send"}
