.chat-side
  .chat-side__user
    .chat-side__user-content
      .user-name
        = current_user.name
      %ul.chat-side-icon
        %li.icon
          = link_to do
            %i.fa.fa-cog{"aria-hidden" => "true"}
        %li.icon
          = link_to edit_user_path(current_user) do
            %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
  .chat-side__groups
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group__name
          グループ名
        .chat-side__group__latest-message
          最新のメッセージ
      .chat-side__group
        .chat-side__group__name
          グループ名2
        .chat-side__group__latest-message
          最新のメッセージ2
